/**
 * index.css
 * Paul Krishnamurthy 2016
 *
 * https://paulkr.com
 * paul@paulkr.com
 */


@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Dosis);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#000;
}

h1, h2, p {
/*  font-family: "Raleway", sans-serif;*/
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: #FFF;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  font-weight: 100;
/*  font-style: italic;*/
  text-align: center;
  color: #FFF;
  margin-bottom: 0px;
}

span {
  font-weight: lighter;
}

p {
  color: #FFF;
  text-align: center;
  margin-bottom: 5px;
}

.pos-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.demo-img {
  width: 80%;
  height: 100%;
  border-radius: 5px;
}

.descrip {
  font-size: 15px;
  line-height: 0;
  color: #D66A00;
}

.code-view {
  width: 245px;
  font-size: 14px;
}

.dashboard {
  width: 100%;
  color: #FFF;
  text-align: center;
  path {  stroke: #fff; }
  path:hover {  opacity:0.9; }
  rect:hover {  fill:blue; }
  .axis {  font: 10px sans-serif; }
  .legend tr{    border-bottom:1px solid grey; }
  .legend tr:first-child{    border-top:1px solid grey; }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {  display: none; }
  .legend{
      margin-bottom:76px;
      display:inline-block;
      border-collapse: collapse;
      border-spacing: 0px;
  }
  .legend td{
      padding:4px 5px;
      vertical-align:bottom;
      color: white;
  }
  .legendFreq, .legendPerc{
      align:right;
      width:50px;
      color: white;
  }
}
